/* Space out content a bit */
body {
  --tw-text-opacity: 1;
  color: rgba(219,219,219,var(--tw-text-opacity));
  font-size: .781rem;
  font-family: Source Code Pro,monospace;
  line-height: 1.5;
}

.main {
  padding-right: 15px;
  padding-left: 15px;
  text-opacity: 1;
  color: rgba(219,219,219);
}


/* Customize container
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

*/
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.max-w-xl {
    max-width: 40.5rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.h-screen {
    height: 100vh;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}
